body {
    font-family: 'Arial', sans-serif;
    background-color: #dcbdec;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0px;;
    font-size: larger;
    color: #ffffff;
}

.heading h1 {
    color: #333;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px; /* Increased padding */
    width: 400px; 
    text-align: center;
    border-color: #4c007b;
}

.input p {
    font-size: 25px;
    color: #666;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #ad76ec;
    color: white;
    border: #4c007b;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4c007b;
}

.result {
    margin-top: 20px;
}

.result p {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
